In [5]:
!pip install yfinance
!pip install yahoofinancials

Requirement already satisfied: yfinance in c:\users\ajeeta\anaconda3\lib\site-packages (0.2.33)
Requirement already satisfied: pandas>=1.3.0 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: lxml>=4.9.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.31 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: peewee>=3.16.2 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (2.3.10)
Requirement already satisfied: html5lib>=1.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\ajeeta\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\ajeeta\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\ajeeta\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\ajeeta\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Collecting yahoofinancials
  Downloading yahoofinancials-1.20.tar.gz (51 kB)
     ---------------------------------------- 51.9/51.9 kB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pytz>=2022.5 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (2022.7)
Requirement already satisfied: requests>=2.31 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (2.31.0)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (2.3.10)
Requirement already satisfied: peewee>=3.16.2 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from yahoofinancials) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ajeeta\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yahoofinancials) (2.3.2.post1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yahoofinancials) (2023.7.22)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yahoofinancials) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yahoofinancials) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ajeeta\anaconda3\lib\site-packages (from requests>=2.31->yahoofinancials) (1.26.14)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py): started
  Building wheel for yahoofinancials (setup.py): finished with status 'done'
  Created wheel for yahoofinancials: filename=yahoofinancials-1.20-py3-none-any.whl size=38679 sha256=16df93849b02eba97bc1079fbda06587d845957657bfa9a3d5bc4de35b080442
  Stored in directory: c:\users\ajeeta\appdata\local\pip\cache\wheels\a0\72\1a\fd931f6fe2120966624f59ecd399d9c6a5c1ef3b32da914c9d
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.20

In [6]:
import yfinance as yf
import pandas as pd
import numpy as np
import yahoofinancials as YahooFinancials

In [8]:
aapl_df = yf.download('AAPL', period="5y")
goog_df = yf.download('GOOG', period="5y")
msft_df = yf.download('MSFT', period="5y")
amzn_df = yf.download('AMZN', period="5y")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [11]:
aapl_df.to_csv("aapl.csv")
goog_df.to_csv("goog.csv")
msft_df.to_csv("msft.csv")
amzn_df.to_csv("amzn.csv")

In [13]:
aapldata= pd.read_csv("aapl.csv", index_col='Date')
aapldata.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  37.037498  37.887501  36.647499  36.707500  35.232258  148676800
2018-12-26  37.075001  39.307499  36.680000  39.292500  37.713375  234330000
2018-12-27  38.959999  39.192501  37.517502  39.037498  37.468609  212468400
2018-12-28  39.375000  39.630001  38.637501  39.057499  37.487808  169165600
2018-12-31  39.632500  39.840000  39.119999  39.435001  37.850140  140014000

In [14]:
googdata= pd.read_csv("goog.csv", index_col='Date')
googdata.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-24  48.695000  50.176998  48.505501  48.811001  48.811001  31806000
2018-12-26  49.450500  52.000000  49.150002  51.973000  51.973000  47466000
2018-12-27  50.857498  52.194500  49.849998  52.194000  52.194000  42196000
2018-12-28  52.480999  52.778000  51.654999  51.854000  51.854000  28296000
2018-12-31  52.548000  52.634998  51.179501  51.780499  51.780499  29866000

In [15]:
msftdata= pd.read_csv("msft.csv", index_col='Date')
msftdata.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-24,97.680000,97.970001,93.980003,94.129997,89.385551,43935200
2018-12-26,95.139999,100.690002,93.959999,100.559998,95.491486,51634800
2018-12-27,99.300003,101.190002,96.400002,101.180000,96.080246,49498500
2018-12-28,102.089996,102.410004,99.519997,100.389999,95.330048,38196300
2018-12-31,101.290001,102.400002,100.440002,101.570000,96.450569,33173800

In [16]:
amzndata= pd.read_csv("amzn.csv", index_col='Date')
amzndata.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-24  67.300003  69.801498  65.349998  67.197998  67.197998  144400000
2018-12-26  68.444504  73.657997  68.150497  73.544998  73.544998  208236000
2018-12-27  72.709999  73.449997  69.515503  73.082001  73.082001  194440000
2018-12-28  73.667503  75.673500  72.449997  73.901001  73.901001  176580000
2018-12-31  75.540001  76.038002  74.349998  75.098503  75.098503  139090000